/* Welcome to Susy. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* @group defaults */
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #444444; }

/* @group links */
:focus {
  outline: 1px dotted #777777;
  color: #006666; }

a:link {
  color: #009999; }
a:visited {
  color: #990099; }
a:focus, a:hover, a:active {
  color: #006666;
  text-decoration: none; }

/* @end */
/* @group headers */
h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-weight: bold; }

h1, h2, h3 {
  font-family: Baskerville, Palatino, serif; }

h1 {
  font-size: 1.5em; }

/* @end */
/* @group forms */
form *:focus {
  outline: none; }

fieldset {
  margin: 1.5em 0; }

legend {
  font-weight: bold;
  font-variant: small-caps; }

label {
  display: block;
  margin-top: 1.5em; }

legend + label {
  margin-top: 0; }

textarea, input[type="text"] {
  color: #777777;
  /* Mozilla (FireFox, Camino) */
  -moz-box-sizing: border-box;
  /* Webkit (Safari, Chrome) */
  -webkit-box-sizing: border-box;
  /* IE (8) */
  -ms-box-sizing: border-box;
  /* CSS3 */
  box-sizing: border-box;
  width: 100%; }

/* @end */
/* @group tables */
/* tables still need 'cellspacing="0"' in the markup */
table {
  width: 100%;
  border: 0.063em solid #aaaaaa;
  border-left: none;
  border-right: none;
  padding: 0.438em 0;
  margin: 0.5em 0; }

tbody {
  color: #777777; }

th {
  font-weight: bold; }

/* @end */
/* @group block tags */
p {
  margin: 1.5em 0; }

ol {
  list-style: decimal;
  margin: 0 1.5em 1.5em 1.5em; }

ul {
  list-style: disc;
  margin: 0 1.5em 1.5em 1.5em; }

blockquote {
  margin: 1.5em;
  color: #777777; }

/* @end */
/* @group inline tags */
cite {
  font-style: italic;
  color: #777777; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

ins {
  text-decoration: underline; }

del {
  text-decoration: line-through; }

q {
  font-style: italic; }
  q em {
    font-style: normal; }

/* @end */
/* @group replaced tags */
img {
  vertical-align: bottom; }

/* @end */

/* @end */
