- @layout = "application"
- @page_title = "Homepage"
- @body_class = "homepage"
- @page_description = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do."

%section
  %header
    %h1 StaticMatic Bootstrap
  %a{:href => "http://github.com/adamstac/staticmatic-bootstrap"}
    %p Fork me on GitHub &rarr;
