- @layout = "application"
- @page_title = "Homepage"
- @body_class = "homepage"
- @page_description = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do."

%h1 StaticMatic!

= partial('shared/test')

%p= link "Contact Adam Stacoviak", "mailto:adam@adamstacoviak.com"

%p= link "Test page", "test/test"